<main class="main">
    <div class="banner-main">
        <p>Trends right now ...</p>
        
        <div class="elements-items">
            {{#each tend}}
            <img src={{this}} alt="gif">
            {{/each}}
        </div>
        
    </div>
</main>