<main class="main">
    
    <div class="banner-main">
        <p>TRENDS right now ...</p>
        
        <div class="elements-items"> 
            {{#each gif}}
                <a href="/more/{{id}}"><img src={{url}} alt="gif"></a>
            {{/each}}
        </div>
        
    </div>

</main>