<header class="header">
    <div class="bar-sup">
        <p>Welcome to gif.OS! ------ Where the gifs are.</p>
    </div>
    <nav class="nav">
        <a href="/"><img src="/img/gifos-logo.png" alt="Logo"></a>
        <div class="navigation">
            <ul class="menu">
                <li><a href="#" class="item-button-nav">Categories</a>
                    <ul class="submenu">
                        <li><a href="/category/Sports">Sports</a></li>
                        <li><a href="/category/Movies">Movies</a></li>
                        <li><a href="/category/Animals">Animals</a></li>
                        <li><a href="/category/Anime">Anime</a></li>
                        <li><a href="/category/Memes">Memes</a></li>
                        <li><a href="/category/Comics">Comics</a></li>
                        <li><a href="/category/Celebrities">Celebrities</a></li>
                        <li><a href="/category/Music">Music</a></li>
                        <li><a href="/category/Food">Food</a></li>
                        <li><a href="/category/Gaming">Gaming</a></li>
                        <li><a href="/category/Greetings">Greetings</a></li>
                        <li><a href="/category/Holiday">Holiday</a></li>
                        <li><a href="/category/Dancing">Dancing</a></li>
                        <li><a href="/category/Funny">Funny</a></li>
                    </ul>
                </li>
            </ul>  
        </div>
    </nav>
    <div class="search">
        <form action="/buscar" method="POST">
            <input type="text" name="search" placeholder="Search for gifs, hashtags, topics, etc ...">
            <button class="btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</header>