<header class="header">
    <div class="bar-sup">
        <p>Welcome to gif.OS! ------ Where the gifs are.</p>
    </div>
    <nav class="nav">
        <a href="#"><img src="/img/gifos-logo.png" alt="Logo"></a>
        <div class="navigation">
            <ul class="menu">
                <li><a href="#" class="item-button-nav">Categories</a>
                    <ul class="submenu">
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Animals</a></li>
                        <li><a href="#">Anime</a></li>
                        <li><a href="#">Memes</a></li>
                        <li><a href="#">Comics</a></li>
                        <li><a href="#">Celebrities</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Gaming</a></li>
                        <li><a href="#">Greetings</a></li>
                        <li><a href="#">Holiday</a></li>
                        <li><a href="#">Dancing</a></li>
                        <li><a href="#">Funny</a></li>
                    </ul>
                </li>
            </ul>  
        </div>
    </nav>
    <div class="search">
        <form action="#">
            <input type="text" placeholder="Search for gifs, hashtags, topics, etc ...">
            <button class="btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</header>